@charset "utf-8";

/*
   Awesome Armadillos
   1st Web Site
   Web Design 1

  Layout Style Sheet for the Awesome Armadillos Website

   Author: Nadean Rudolph
   Date:   10-31-17
   Filename: aanr_layout.css
   */

/**{outline: 1px solid red;}*/
body{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 640px;

}

/*Header style*/

header {
  position: relative;
}

header > img {
  clear: left;
  display: block;
  float: left;
}

h1{
  position: absolute;
  left: 27%;
  top: 50%;
  transform: translate(-50%,-50%);
}

nav.horizontal {
  clear: both;
  background-color: black;
}

nav.horizontal li {
  display: block;
  width: 25%;
  float: left;
  font-family: sans-serif;

}

nav.horizontal a {
  display: block;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: purple;
}

article img {
  clear: right;
  float: right;
  padding-left: 15px;
}

section.Dasypus img{
  clear: both;
  float: left;
  padding-left: 320px;
}

/*Biology Styles*/

article.biology{
  clear: both
}

article.biology h2{
  display: block;
  padding-left: 15px;
  padding-bottom: 30px;
}

article.biology img {
  display: block;
  width: 30%;
  padding-left: 15px;
}

article.biology p{
  display: block;
  font-family: sans-serif;
  padding-left: 15px;
}



/*Recipe 1 Styles*/

article.Recipe1 h2{
  font-family: 'Aclonica', sans-serif;
  font-size: 2em;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;

}

/*Recipe Navigation*/

 nav.top5{
  font-family: sans-serif;
}

nav.top5 ul li {
  display: block;
  float: left;
  width: 20%;
  font-family: sans-serif;
  /*background-color: rgb(89, 64, 9);*/
}

nav.top5 a {
  display: block;
  text-align: center;
  text-decoration: none;
}


article.Recipe1 h3{
  font-family: 'Aclonica', sans-serif;
  font-size: 1.75em;
  padding-left: 15px;
  padding-top: 80px;
  padding-bottom: 30px;
}

/*Recipe Box Image*/

section#box img{
  clear: right;
  float: right;
  padding-right:50px;
  width: 30%;

}

/*Unordered List Styles*/

article.Recipe1 ul li {
  display: block;
  font-family: sans-serif;
  text-decoration: none;
  padding-left: 40px;
  padding-bottom: 10px;
}

section.Logo img{
  clear: both;
  float: left;
  padding-left: 350px;
}

/*Footer Styles*/

footer {
  clear: both;
  background-color: black;
  line-height: 2em;
  text-align: center;
  color: white;
}
